In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Batting_data")
df.head()

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0
0,Sean Abbott,Australia,2023-2023,1.0,-,0.0,-,-,-,0.00,-,-,-
1,Abdullah Shafique,Pakistan,2023-2023,8.0,8.0,0.0,336.0,113.0,42.0,93.33,1.0,3.0,1.0
2,Colin Ackermann,Netherlands,2023-2023,9.0,9.0,0.0,216.0,69.0,24.0,82.12,-,1.0,1.0
3,Agha Salman,Pakistan,2023-2023,3.0,1.0,0.0,51.0,51.0,51.0,113.33,-,1.0,-
4,Moeen Ali,England,2023-2023,6.0,6.0,0.0,95.0,42.0,15.83,74.80,-,-,-

### Position

In [3]:
df2=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Batting_score_card_all_matches")
count=1
df2["Position"]=0
current_team = df2['innings'][0]
for i in range(0,len(df2)):
    if df2['innings'][i] != current_team:
        df2['Position'][i] = 1
        count = 2
        current_team = df2['innings'][i]
    else:
        df2['Position'][i] = count
        count+=1
result = df2.groupby("Batsman")["Position"].apply(lambda x: x.mode().iloc[0]).reset_index()
result.rename(columns={
    "Batsman":"Player"
},inplace=True)

c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [20]:
# Knowing avg of runs where player position is between 6 and 
# Not required for analysis
df2[(df2["Position"]>6) & (df2["Position"]<8)].Runs.mean()

20.974025974025974

In [23]:
df=df.merge(result,on="Player")

In [27]:
df

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0,Position
0,Abdullah Shafique,Pakistan,2023-2023,8.0,8.0,0.0,336.0,113.0,42.0,93.33,1.0,3.0,1.0,1
1,Colin Ackermann,Netherlands,2023-2023,9.0,9.0,0.0,216.0,69.0,24.0,82.12,-,1.0,1.0,3
2,Agha Salman,Pakistan,2023-2023,3.0,1.0,0.0,51.0,51.0,51.0,113.33,-,1.0,-,6
3,Moeen Ali,England,2023-2023,6.0,6.0,0.0,95.0,42.0,15.83,74.80,-,-,-,7
4,Charith Asalanka,Sri Lanka,2023-2023,9.0,8.0,0.0,288.0,108.0,36.0,85.20,1.0,1.0,-,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Chris Woakes,England,2023-2023,8.0,8.0,1.0,131.0,51.0,18.71,84.51,-,1.0,1.0,8
142,Mark Wood,England,2023-2023,7.0,7.0,4.0,85.0,43*,28.33,130.76,-,-,1.0,11
143,Suryakumar Yadav,India,2023-2023,7.0,7.0,1.0,106.0,49.0,17.66,100.95,-,-,-,6
144,Will Young,New Zealand,2023-2023,6.0,6.0,0.0,206.0,70.0,34.33,83.73,-,2.0,1.0,2
145,Adam Zampa,Australia,2023-2023,11.0,6.0,3.0,48.0,29.0,16.0,80.00,-,-,1.0,10

In [31]:
Finisher=df[(df["Position"]>=6) & (df["Position"]<8)]

In [40]:
Finisher.replace('-',0,inplace=True)

c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [41]:
Finisher=Finisher[(Finisher["Ave"]>35) & (Finisher["SR"]>105)]

In [42]:
Finisher

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0,Position
2,Agha Salman,Pakistan,2023-2023,3.0,1.0,0.0,51.0,51.0,51.00,113.33,0.0,1.0,0.0,6
69,Glenn Maxwell,Australia,2023-2023,9.0,9.0,3.0,400.0,201*,66.66,150.37,2.0,0.0,1.0,6
72,David Miller,South Africa,2023-2023,10.0,10.0,2.0,356.0,101.0,44.50,107.87,1.0,1.0,0.0,6
97,Glenn Phillips,New Zealand,2023-2023,10.0,9.0,2.0,285.0,71.0,40.71,111.76,0.0,2.0,0.0,6

In [43]:
df3=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Bowling_data")
df3

,Player,Country,Span,Mat,Inns,Balls,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,5.0,10.0,Ct,St
0,Sean Abbott,Australia,2023-2023,1.0,1.0,60.0,-,61.0,2.0,2/61,30.5,6.1,30.0,-,-,1.0,-
1,Abdullah Shafique,Pakistan,2023-2023,8.0,-,0.0,-,-,-,-,-,-,-,-,-,2.0,-
2,Colin Ackermann,Netherlands,2023-2023,9.0,9.0,284.0,2.0,234.0,5.0,2/39,46.8,4.94,56.8,-,-,3.0,-
3,Agha Salman,Pakistan,2023-2023,3.0,2.0,30.0,-,46.0,-,-,-,9.2,-,-,-,3.0,-
4,Moeen Ali,England,2023-2023,6.0,6.0,256.0,-,248.0,5.0,3/42,49.6,5.81,51.2,-,-,4.0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Chris Woakes,England,2023-2023,8.0,8.0,330.0,1.0,298.0,10.0,4/54,29.8,5.41,33.0,-,-,3.0,-
147,Mark Wood,England,2023-2023,7.0,7.0,324.0,1.0,349.0,6.0,2/50,58.16,6.46,54.0,-,-,1.0,-
148,Suryakumar Yadav,India,2023-2023,7.0,1.0,12.0,-,17.0,-,-,-,8.5,-,-,-,1.0,-
149,Will Young,New Zealand,2023-2023,6.0,-,0.0,-,-,-,-,-,-,-,-,-,2.0,-
150,Adam Zampa,Australia,2023-2023,11.0,11.0,576.0,1.0,515.0,23.0,2024-08-04 00:00:00,22.39,5.36,25.0,-,-,2.0,-

In [44]:
df3.replace('-',0,inplace=True)

In [47]:
sampledf=df3[["Player","Inns"]]

In [48]:
sampledf

                Player  Inns
0          Sean Abbott   1.0
1    Abdullah Shafique   0.0
2      Colin Ackermann   9.0
3          Agha Salman   2.0
4            Moeen Ali   6.0
..                 ...   ...
146       Chris Woakes   8.0
147          Mark Wood   7.0
148   Suryakumar Yadav   1.0
149         Will Young   0.0
150         Adam Zampa  11.0

[151 rows x 2 columns]

In [52]:
Finisher=Finisher.merge(sampledf,on="Player")

In [53]:
Finisher.rename(columns={
    "Inns_y":"Innings_bowled"
},inplace=True)

In [55]:
Finisher=Finisher[Finisher["Innings_bowled"]>5]

In [56]:
Finisher

,Player,Country,Span,Mat,Inns_x,NO,Runs,HS,Ave,SR,100.0,50.0,0.0,Position,Innings_bowled
1,Glenn Maxwell,Australia,2023-2023,9.0,9.0,3.0,400.0,201*,66.66,150.37,2.0,0.0,1.0,6,8.0
3,Glenn Phillips,New Zealand,2023-2023,10.0,9.0,2.0,285.0,71.0,40.71,111.76,0.0,2.0,0.0,6,10.0