In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Batting_data")
df

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0
0,Sean Abbott,Australia,2023-2023,1.0,-,0.0,-,-,-,0.00,-,-,-
1,Abdullah Shafique,Pakistan,2023-2023,8.0,8.0,0.0,336.0,113.0,42.0,93.33,1.0,3.0,1.0
2,Colin Ackermann,Netherlands,2023-2023,9.0,9.0,0.0,216.0,69.0,24.0,82.12,-,1.0,1.0
3,Agha Salman,Pakistan,2023-2023,3.0,1.0,0.0,51.0,51.0,51.0,113.33,-,1.0,-
4,Moeen Ali,England,2023-2023,6.0,6.0,0.0,95.0,42.0,15.83,74.80,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Chris Woakes,England,2023-2023,8.0,8.0,1.0,131.0,51.0,18.71,84.51,-,1.0,1.0
147,Mark Wood,England,2023-2023,7.0,7.0,4.0,85.0,43*,28.33,130.76,-,-,1.0
148,Suryakumar Yadav,India,2023-2023,7.0,7.0,1.0,106.0,49.0,17.66,100.95,-,-,-
149,Will Young,New Zealand,2023-2023,6.0,6.0,0.0,206.0,70.0,34.33,83.73,-,2.0,1.0
150,Adam Zampa,Australia,2023-2023,11.0,6.0,3.0,48.0,29.0,16.0,80.00,-,-,1.0

In [3]:
df2=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Batting_score_card_all_matches")
df2

,innings,Batsman,Runs,Balls,Minutes,fours,sixes,SR,out,id
0,India,Rohit Sharma,47.0,31.0,44.0,4.0,3.0,151.61,c Head b Maxwell,4705.0
1,India,Shubman Gill,4.0,7.0,21.0,0.0,0.0,57.14,c Zampa b Starc,4705.0
2,India,Virat Kohli,54.0,63.0,99.0,4.0,0.0,85.71,b Cummins,4705.0
3,India,Shreyas Iyer,4.0,3.0,3.0,1.0,0.0,133.33,c â€ Inglis b Cummins,4705.0
4,India,KL Rahul,66.0,107.0,133.0,1.0,0.0,61.68,c â€ Inglis b Starc,4705.0
...,...,...,...,...,...,...,...,...,...,...
871,England,Adil Rashid,15.0,13.0,23.0,0.0,1.0,115.38,NaN,4658.0
872,England,Mark Wood,13.0,14.0,19.0,0.0,0.0,92.85,NaN,4658.0
873,New Zealand,Devon Conway,152.0,121.0,147.0,19.0,3.0,125.61,NaN,4658.0
874,New Zealand,Will Young,0.0,1.0,5.0,0.0,0.0,0.0,c â€ Buttler b Curran,4658.0
875,New Zealand,Rachin Ravindra,123.0,96.0,141.0,11.0,5.0,128.12,NaN,4658.0

In [4]:
df["Inns"].replace('-',0,inplace=True)

### Innings Average Strike rate

In [5]:
Middle_players=df[df["Inns"]>8]
Middle_players=Middle_players[Middle_players["Ave"]>50]
Middle_players=Middle_players[Middle_players["SR"]>100]

### Balls faced By each player overall Tournment

In [8]:
df2["Balls"].replace('-',0,inplace=True)
Balls_faced=df2.groupby("Batsman")["Balls"].apply(lambda x:x.sum())
Balls_faced=pd.DataFrame(Balls_faced)
Balls_faced.reset_index(inplace=True)
Balls_faced.rename(columns={
    "Batsman":"Player"
},inplace=True)
if 'Balls' not in Middle_players.columns:
    Middle_players = Middle_players.merge(Balls_faced, on="Player")
else:
    # Drop the existing column before merging the updated one
    Middle_players.drop(columns=['Balls'], inplace=True)
    Middle_players = Middle_players.merge(Balls_faced, on="Player")

Middle_players

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0,Balls
0,Quinton de Kock,South Africa,2023-2023,10.0,10.0,0.0,594.0,174.0,59.4,107.02,4.0,-,-,555.0
1,Shreyas Iyer,India,2023-2023,11.0,11.0,3.0,530.0,128*,66.25,113.24,2.0,3.0,1.0,468.0
2,Glenn Maxwell,Australia,2023-2023,9.0,9.0,3.0,400.0,201*,66.66,150.37,2.0,-,1.0,266.0
3,Daryl Mitchell,New Zealand,2023-2023,10.0,9.0,1.0,552.0,134.0,69.0,111.06,2.0,2.0,-,497.0
4,Rachin Ravindra,New Zealand,2023-2023,10.0,10.0,1.0,578.0,123*,64.22,106.44,3.0,2.0,-,543.0
5,Sadeera Samarawickrama,Sri Lanka,2023-2023,9.0,9.0,2.0,373.0,108.0,53.28,102.19,1.0,2.0,1.0,365.0
6,Rohit Sharma,India,2023-2023,11.0,11.0,0.0,597.0,131.0,54.27,125.94,1.0,3.0,1.0,474.0

### Balls Faced

In [9]:
Middle_players=Middle_players[Middle_players["Balls"]>100]
Middle_players

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0,Balls
0,Quinton de Kock,South Africa,2023-2023,10.0,10.0,0.0,594.0,174.0,59.4,107.02,4.0,-,-,555.0
1,Shreyas Iyer,India,2023-2023,11.0,11.0,3.0,530.0,128*,66.25,113.24,2.0,3.0,1.0,468.0
2,Glenn Maxwell,Australia,2023-2023,9.0,9.0,3.0,400.0,201*,66.66,150.37,2.0,-,1.0,266.0
3,Daryl Mitchell,New Zealand,2023-2023,10.0,9.0,1.0,552.0,134.0,69.0,111.06,2.0,2.0,-,497.0
4,Rachin Ravindra,New Zealand,2023-2023,10.0,10.0,1.0,578.0,123*,64.22,106.44,3.0,2.0,-,543.0
5,Sadeera Samarawickrama,Sri Lanka,2023-2023,9.0,9.0,2.0,373.0,108.0,53.28,102.19,1.0,2.0,1.0,365.0
6,Rohit Sharma,India,2023-2023,11.0,11.0,0.0,597.0,131.0,54.27,125.94,1.0,3.0,1.0,474.0

### Position of a player

In [11]:
count=1
df2["Position"]=0
current_team = df2['innings'][0]
for i in range(0,len(df2)):
    if df2['innings'][i] != current_team:
        df2['Position'][i] = 1
        count = 2
        current_team = df2['innings'][i]
    else:
        df2['Position'][i] = count
        count+=1
result = df2.groupby("Batsman")["Position"].apply(lambda x: x.mode().iloc[0]).reset_index()
result.rename(columns={
    "Batsman":"Player"
},inplace=True)

c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
Middle_players=Middle_players.merge(result,on="Player")
Middle_players=Middle_players[(Middle_players["Position"]>3) & (Middle_players["Position"]<6)]
Middle_players

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0,Balls,Position
1,Shreyas Iyer,India,2023-2023,11.0,11.0,3.0,530.0,128*,66.25,113.24,2.0,3.0,1.0,468.0,4
3,Daryl Mitchell,New Zealand,2023-2023,10.0,9.0,1.0,552.0,134.0,69.0,111.06,2.0,2.0,-,497.0,4
5,Sadeera Samarawickrama,Sri Lanka,2023-2023,9.0,9.0,2.0,373.0,108.0,53.28,102.19,1.0,2.0,1.0,365.0,4