In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Batting_data")
df.head()

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0
0,Sean Abbott,Australia,2023-2023,1.0,-,0.0,-,-,-,0.00,-,-,-
1,Abdullah Shafique,Pakistan,2023-2023,8.0,8.0,0.0,336.0,113.0,42.0,93.33,1.0,3.0,1.0
2,Colin Ackermann,Netherlands,2023-2023,9.0,9.0,0.0,216.0,69.0,24.0,82.12,-,1.0,1.0
3,Agha Salman,Pakistan,2023-2023,3.0,1.0,0.0,51.0,51.0,51.0,113.33,-,1.0,-
4,Moeen Ali,England,2023-2023,6.0,6.0,0.0,95.0,42.0,15.83,74.80,-,-,-

In [3]:
df.replace("-",np.NAN,inplace=True)

### Position

In [4]:
df2=pd.read_excel(r"C:\Users\gnana\Downloads\2023 Cricket dataset.xlsx",sheet_name="Batting_score_card_all_matches")
count=1
df2["Position"]=0
current_team = df2['innings'][0]
for i in range(0,len(df2)):
    if df2['innings'][i] != current_team:
        df2['Position'][i] = 1
        count = 2
        current_team = df2['innings'][i]
    else:
        df2['Position'][i] = count
        count+=1
df2

c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
c:\Users\gnana\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,innings,Batsman,Runs,Balls,Minutes,fours,sixes,SR,out,id,Position
0,India,Rohit Sharma,47.0,31.0,44.0,4.0,3.0,151.61,c Head b Maxwell,4705.0,1
1,India,Shubman Gill,4.0,7.0,21.0,0.0,0.0,57.14,c Zampa b Starc,4705.0,2
2,India,Virat Kohli,54.0,63.0,99.0,4.0,0.0,85.71,b Cummins,4705.0,3
3,India,Shreyas Iyer,4.0,3.0,3.0,1.0,0.0,133.33,c †Inglis b Cummins,4705.0,4
4,India,KL Rahul,66.0,107.0,133.0,1.0,0.0,61.68,c †Inglis b Starc,4705.0,5
...,...,...,...,...,...,...,...,...,...,...,...
871,England,Adil Rashid,15.0,13.0,23.0,0.0,1.0,115.38,NaN,4658.0,10
872,England,Mark Wood,13.0,14.0,19.0,0.0,0.0,92.85,NaN,4658.0,11
873,New Zealand,Devon Conway,152.0,121.0,147.0,19.0,3.0,125.61,NaN,4658.0,1
874,New Zealand,Will Young,0.0,1.0,5.0,0.0,0.0,0.0,c †Buttler b Curran,4658.0,2
875,New Zealand,Rachin Ravindra,123.0,96.0,141.0,11.0,5.0,128.12,NaN,4658.0,3

### Boundary percentage

In [5]:
df2["Boundary"]=(df2["fours"]*4)+(df2["sixes"]*6)
ca=df2.groupby("Batsman")
df2["Runs"] = pd.to_numeric(df2["Runs"], errors='coerce')
runs=ca.Runs.sum()
df2["Boundary"] = pd.to_numeric(df2["Boundary"], errors='coerce')
boundaries=ca.Boundary.sum()
boundaryper=(boundaries/runs)*100 
bounds=pd.DataFrame(boundaryper)
bounds=bounds.reset_index().rename(columns={
    0:"BOundary per"
})
bounds.rename(columns={
    "Batsman":"Player",
    "BOundary per":"Boundary per"
},inplace=True)
bounds

                Player  Boundary per
0    Abdullah Shafique     58.928571
1           Adam Zampa     41.666667
2          Adil Rashid     43.478261
3          Agha Salman     58.823529
4        Aiden Markram     56.650246
..                 ...           ...
141          Usama Mir           NaN
142    Vikramjit Singh     55.102041
143        Virat Kohli     42.614379
144     Wesley Barresi     60.240964
145         Will Young     62.135922

[146 rows x 2 columns]

In [6]:
topPlayer=df[df["Ave"]>50]
topPlayer=topPlayer[topPlayer["SR"]>=90]
topPlayer=topPlayer[topPlayer["Mat"]>=5]
topPlayer=topPlayer[topPlayer["Runs"]>=500]
topPlayer["Boundary %"]=np.NAN
topPlayer.drop(columns="Boundary %",inplace=True) 
topPlayer=topPlayer.merge(bounds,on="Player")
topPlayer=topPlayer.fillna(0)
topPlayer=topPlayer[topPlayer["Boundary per"]>40]
topPlayer

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0,Boundary per
0,Quinton de Kock,South Africa,2023-2023,10.0,10.0,0.0,594.0,174.0,59.40,107.02,4.0,0.0,0.0,59.595960
1,Shreyas Iyer,India,2023-2023,11.0,11.0,3.0,530.0,128*,66.25,113.24,2.0,3.0,1.0,55.094340
2,Virat Kohli,India,2023-2023,11.0,11.0,3.0,765.0,117.0,95.62,90.31,3.0,6.0,1.0,42.614379
3,Daryl Mitchell,New Zealand,2023-2023,10.0,9.0,1.0,552.0,134.0,69.00,111.06,2.0,2.0,0.0,58.695652
4,Rachin Ravindra,New Zealand,2023-2023,10.0,10.0,1.0,578.0,123*,64.22,106.44,3.0,2.0,0.0,55.709343
5,Rohit Sharma,India,2023-2023,11.0,11.0,0.0,597.0,131.0,54.27,125.94,1.0,3.0,1.0,75.376884

In [7]:
# sample[sample["Batsman"]=="Rohit Sharma"].Position.mode()

### Frequent position by a batsman

In [9]:
result = df2.groupby("Batsman")["Position"].apply(lambda x: x.mode().iloc[0]).reset_index()

In [10]:
# similar but not same
# result = sample.groupby("Batsman")["Position"].apply(lambda x: x.mode())

In [11]:
Position_player=pd.DataFrame(result)
Position_player.rename(columns={
    "Batsman":"Player",
},inplace=True)
topPlayer=topPlayer.merge(Position_player,on="Player")
topPlayer=topPlayer[topPlayer["Position"]<=3]
topPlayer

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100.0,50.0,0.0,Boundary per,Position
0,Quinton de Kock,South Africa,2023-2023,10.0,10.0,0.0,594.0,174.0,59.40,107.02,4.0,0.0,0.0,59.595960,1
2,Virat Kohli,India,2023-2023,11.0,11.0,3.0,765.0,117.0,95.62,90.31,3.0,6.0,1.0,42.614379,3
4,Rachin Ravindra,New Zealand,2023-2023,10.0,10.0,1.0,578.0,123*,64.22,106.44,3.0,2.0,0.0,55.709343,3
5,Rohit Sharma,India,2023-2023,11.0,11.0,0.0,597.0,131.0,54.27,125.94,1.0,3.0,1.0,75.376884,1